<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<h2><%= @contact.job_title %></h2>
<h2><%= @contact.company %></h2>
<ul>
  <% @contact.mailing_addresses.each() do |address| %>
    <li><%= address.street_address %></li>
    <li><%= address.city %></li>
    <li><%= address.state %></li>
    <li><%= address.zip %></li>
    <li><%= address.type %></li>
  <% end %>
</ul>
<ul>
  <% @contact.emails.each() do |email_address| %>
    <li><%= email_address.email %></li>
  <% end %>
</ul>
<ul>
  <% @contact.phone_numbers.each() do |number| %>
    <li><%= number.phone_number %></li>
    <li><%= number.area_code %></li>
    <li><%= number.type %></li>
  <% end %>
</ul>
<a href="/contacts/<%= @contact.id %>/emails/new">Add a new email</a><br>
<a href="/contacts/<%= @contact.id %>/phone_numbers/new">Add a new phone number</a><br>
<a href="/contacts/<%= @contact.id %>/mailing_addresses/new">Add a mailing address</a><br>
<a href="/">Home</a>
